{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<br><br>
<div class="container">
  <div class="row">

    <div class="col-md-5" style="padding-top: 50px;">
      <img src="https://image.shutterstock.com/image-photo/toy-taxi-car-road-beach-260nw-1916402027.jpg"width="390"
      height="280" style="width: 390px; height: 250px;object-fit: cover;" alt="insta">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="card container">

        <div class="panel-heading">
          <h3 class="text-center" style="font-family: 'Lobster Two', cursive;">Carpooler</h3>
        </div>

        <div class="panel-body">

          <form action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <p>Already have an account? <a href="/accounts/login"> Log In</a></p>

            <input type="hidden" name="next" value="{{next}}">

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>



  </div>
</div>

{% endblock %} 
